@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* other css files */
@import url("./app.css");

:root {
    font-size: 16px;
    --dark-body-bg: #202020;
    --dark-body-fg: #fffafa;
    --border-c: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark-body-bg);
    color: var(--dark-body-fg);
}
